@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

/* CSS Variables */
:root {
  --primaryColor: #f09d51;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s linear;
}

/* Basic Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--mainBlack);
  background-color: var(--mainWhite);
  font-family: "Lato", sans-serif;
}

/* --- navbar --- */
.navbar {
  height: 3.75rem; /* 60px */
  display: flex;
  align-items: center;
  background: rgb(231, 226, 221);
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1;
}

.navbar-center {
  width: 100%;
  max-width: 1170px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.nav-icon {
  font-size: 1.5rem;
}

.cart-btn {
  position: relative;
  cursor: pointer;
}

.cart-items {
  position: absolute;
  top: -8px;
  right: -8px;
  padding: 0 5px;
  border-radius: 30%;
  background-color: var(--primaryColor);
  color: var(--mainWhite);
}

/* hero section */
.hero {
  min-height: calc(100vh - 60px);
  background: url("./images/hero-bcg.jpeg") center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner {
  display: inline-block;
  padding: 2rem;
  background: rgba(255, 255, 255, 0.8);
  text-align: center;
}

.banner-title {
  text-transform: uppercase;
  font-size: 3.4rem;
  margin-bottom: 3rem;
  letter-spacing: var(--mainSpacing);
}

.banner-btn {
  padding: 1rem 3rem;
  background: var(--primaryColor);
  text-transform: uppercase;
  font-size: 1rem;
  transition: var(--mainTransition);
  cursor: pointer;
  color: var(--mainBlack);
  letter-spacing: var(--mainSpacing);
  border: 1px solid var(--primaryColor);
}

.banner-btn:hover {
  background: transparent;
  color: var(--primaryColor);
}

/* products */
.products {
  padding: 4rem 0;
}

.section-title h2 {
  text-align: center;
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 5rem;
}

.products-center {
  width: 90vw;
  max-width: 1170px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 2rem 1.5rem;
  margin: 0 auto;
}

.img-container {
  position: relative;
  overflow: hidden;
}

.bag-btn {
  position: absolute;
  top: 70%;
  right: 0;
  padding: 0.5rem 0.75rem;
  border: none;
  transition: var(--mainTransition);
  letter-spacing: var(--mainSpacing);
  background-color: var(--primaryColor);
  transform: translateX(101%);
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bold;
}

.bag-btn:hover {
  color: var(--mainWhite);
}

.img-container:hover .bag-btn {
  transform: translateX(0);
}

.fa-shopping-cart {
  margin-right: 0.5rem;
}

.product-img {
  width: 100%;
  min-height: 12rem;
  transition: var(--mainTransition);
  display: block;
}

.img-container:hover .product-img {
  opacity: 0.5;
}

.product h3,
.product h4 {
  letter-spacing: var(--mainSpacing);
  text-align: center;
}

.product h3 {
  font-size: 1.1rem;
  margin-top: 1rem;
  text-transform: capitalize;
}

.product h4 {
  margin-top: 0.7rem;
  color: var(--primaryColor);
}
