@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

/* CSS Variables */
:root {
  --primaryColor: #f09d51;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s linear;
}

/* Basic Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--mainBlack);
  background-color: var(--mainWhite);
  font-family: "Lato", sans-serif;
}

/* --- navbar --- */
.navbar {
  height: 3.75rem; /* 60px */
  display: flex;
  align-items: center;
  background: rgb(231, 226, 221);
  width: 100vw;
  position: sticky;
  top: 0;
  z-index: 1;
}

.navbar-center {
  width: 100%;
  max-width: 1170px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.nav-icon {
  font-size: 1.5rem;
}

.cart-btn {
  position: relative;
  cursor: pointer;
}

.cart-items {
  position: absolute;
  top: -8px;
  right: -8px;
  padding: 0 5px;
  border-radius: 30%;
  background-color: var(--primaryColor);
  color: var(--mainWhite);
}

/* hero section */
.hero {
  min-height: calc(100vh - 60px);
  background: url("./images/hero-bcg.jpeg") center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner {
  display: inline-block;
  padding: 2rem;
  background: rgba(255, 255, 255, 0.8);
  text-align: center;
}

.banner-title {
  text-transform: uppercase;
  font-size: 3.4rem;
  margin-bottom: 3rem;
  letter-spacing: var(--mainSpacing);
}

.banner-btn {
  padding: 1rem 3rem;
  background: var(--primaryColor);
  text-transform: uppercase;
  font-size: 1rem;
  transition: var(--mainTransition);
  cursor: pointer;
  color: var(--mainBlack);
  letter-spacing: var(--mainSpacing);
  border: 1px solid var(--primaryColor);
}

.banner-btn:hover {
  background: transparent;
  color: var(--primaryColor);
}
